@page "/"
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<select class="form-control" @bind="Theme" @bind:event="oninput">
    <option selected disabled="disabled">Choose Theme</option>
    <option>ctg</option>
    <option>unifleet</option>
</select>

<h4>If box is yellow theme is ctg. If box is blue theme is unifleet</h4>
<div class="themebox">

</div>


Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    private string _theme;

    public string Theme
    {
        get { return _theme; }
        set 
        { 
            _theme = value;
            navigationManager.NavigateTo($"/theme/change/?theme={_theme}", true);
        }
    }
    
}
