@page "/rowcol"

<h3>RowCol</h3>


<div class="container">
    <div class="row">
        <div id="col1" class="col-md-3">
            I am Column 1
        </div>
        <div id="col2" class="col-md-4">
            I am Column 2
        </div>
        <div id="col3" class="col-md-5 d-sm-none d-md-block">
            I am Column 3, I should disappear once the breakpoint is reached!
        </div>
    </div>
</div>

@code {

}
